// White
$white: #ffffff;

// Blue
$dark-blue-grey: #191847;
$light-sky-blue: #dde3e9;
$dark-grey-blue: #2f3676;
$light-blue-grey: #c5cfd6;

// Other colors
$very-light-pink: #f2f2f2;
$greyish-brown: #555555;
$rebecca-purple: #663399;
$pine-green: #071723;

$box-shadow-color: rgba(0, 0, 0, 0.5);
